body {
    text-align: center;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.headerDiv {
    font-family: Yellowtail,cursive;
}
.homeLollyList {
    display: flex;
    flex-direction: row;
}

.homeLollyList .lollipop {
    height: 300px;
}

.first .lollyTop {
    fill: red;
}
.first .lollyMiddle {
    fill: green;
}
.first .lollyBottom {
    fill: blue;
}

.second .lollyTop {
    fill: #cceecc;
}
.second .lollyMiddle {
    fill: #55EEFF
}
.second .lollyBottom {
    fill: #FFEE99;
}

.newLollyForm {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.flavours {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorPicker {
    margin: 20px;
    width: 40px;
    height: 40px;
}

.recipient, .message, .from {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Yellowtail,cursive;
}